TOKEN="OTE0MDcyNzY2MzM1MDQxNTg4.YaHumg.-1dJTmUQH7wmTNAfJzdJAXcMuRs"
LOGS="https://discord.com/api/webhooks/914075569119985664/h0jGCaw3s-k8oain1hlulPZlzWpoPI3Q4RGfSjbL1ScmSguoBqXV2ANknreKPICRMSPV"
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<database name>?schema=public"
KSOFT_TOKEN="ksoft.si token (used to get user global ban information)"
DREP_TOKEN="https://discordrep.com/ token (used to check user reputation)"
YOUTUBE_API_KEY="yt api key (this is used to get the subscriber count of Draavo's channel, you can get one for free at https://console.cloud.google.com/)"

DASHBOARD="dashboard url (like https://draavo.daangamesdg.xyz)"
API="api url (like https://draavo-vps.daangamesdg.xyz)"
PREFIX=":"
OWNERS="550832988892561429,696417279969329232"
COLOUR="default embed colour (hex colour like: #fff)"

DISCORD_URI="https://discord.com/oauth2/authorize?client_id=914072766335041588&permissions=8&scope=bot"
DISCORD_SECRET="lldfuTp_8zazudUlyRQ0c-UWwjNqmKTi"

COOKIE_SECRET="W2dY6b&/aSr9D,7"
